input {
  background-color: #ec4c8a;
  height: 30px;
  width: 100%;
}

input::placeholder {
  color: white;
  font-family: 'Lato', serif;
}

input[type="text"] {
  color: white;
  font-family: 'Lato', serif;
}